@import "../../app/global.scss";

.cardContainer {
    width: 150px;
    height: 120px;
    display: flex;

    @include mobile {

        width: 100px;
        height: 90px;
    }

    .item {
        width: 100%;
        height: 100%;
        background-color: #eaeaea;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 10px 5px 5px #965fd4;

        .left {
            flex: 4;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;

            .leftContainer {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;

                .imgContainer {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .ic {
                        font-size: 35px;
                    }
                }

                h2 {
                    font-size: 20px;
                    color: #131313;
                }

            }
        }

        .right {
            flex: 8;
            height: 100%;
            display: flex;
            align-content: center;
            justify-content: center;

        }
    }
}